<%- include('header') -%>
<div class="about">
    <div class="grid-1200 clearfix">
        <div class="about-info">
            <h1>关于我们</h1>
            <span>遇见合规，预见未来</span>
            <p>我们是致力于互联网+农业行业，深度耕耘农产品质量安全领域，依托华南农业大学雄厚科研实力创新地将物联网、移动互联、云计算以及大数据等信息技术运用在智慧农业领域，助推我国农业现代化发展。目前已构建了第三方权威农产品追溯平台‘寻真溯源’；结合高端线上网购和线下零售于一体的独特创新购物安全农产品商城平台‘我家菜市’；融合农业大数据分享平台、部署农业生产环境智能化监测平台‘农业大数据平台’，我们秉承科技兴农的服务理念，不断完善现代农业科技服务升级体系，实现农产品从种植、养殖、生产、仓储、流通等全供应链的无缝监控，切实确保消费舌尖上的安全，不懈余力的将我们平台打造成为领先的一站式智慧农业整体解决方案服务商。</p>
        </div>
        <div class="about-bot clearfix">
            <dl>
                <dt>联系我们</dt>
                <dd>电话: 020-86471420</dd>
                <dd>传真: 020-86471420</dd>
                <dd>邮箱: service@gzlgit.com</dd>
                <dd>邮编: 510642</dd>
                <dd>地址: 广州市天河区五山华南理工大学</dd>
                <dd>国家科技园（北区）2号楼204</dd>
            </dl>
            <dl>
                <dt>公交乘车路线</dt>
                <dd>乘坐公交400路到能源路站下车；步行2分钟即到。</dd>
                <dd>传乘坐公交346路到长福路总站下车；步行6分钟即到。</dd>
                <dd>乘坐公交B11、B12、28、30、39、46、54、65、83、84、297、346、494、498、534、535、884路到天河客运站下车；由加油站右边的华南理工大学-北区-西北门进入校园步行到东门，步行10分钟即到。</dd>
            </dl>
            <dl>
                <dt>驾车导航定位</dt>
                <dd>华南理工大学-北区-东门</dd>
                <dd>华南农业大学-西门</dd>
                <dd>中国科学院广州能源研究所(能源路2号)。</dd>
            </dl>
            <dl>
                <dt>相关网址</dt>
                <dd>寻真溯源：http://www.find360.cn</dd>
                <dd>我家菜市：http://www.caishi360.cn</dd>
            </dl>
        </div>
    </div>
</div>
<%- include('footer') -%>