<%- include('header') -%>
<div class="bd-banner">
    <div class="grid-1200"></div>
</div>
<div class="big-data">
    <div class="grid-1200 pt-35">
        <a href="http://bd.find360.cn/" target="_blank">
            <div class="title">
                <h1>
                    <span>农业大<i>数据</i></span>
                </h1>
                <h2>
                    <span>Agricultural big data</span>
                </h2>
                <p>农业大数据由结构数据和非结构化构成，随着农业的发展建设和物联网的应用，非结构化数据呈现出快速增长的势头</p>
            </div>
        </a>
        <div class="bd-content">
            <p class="bd-row clearfix">
                <span class="icon1"></span>
                <span class="icon2"></span>
                <span class="icon3"></span>
                <span class="icon4"></span>
                <span class="icon5"></span>
            </p>
            <p class="bd-row clearfix mid">
                <span class="icon6"></span>
                <span class="icon7"></span>
                <span class="icon8"></span>
                <span class="icon9"></span>
                <span class="icon10"></span>
                <span class="icon11"></span>
            </p>
            <p class="bd-row clearfix">
                <span class="icon12"></span>
                <span class="icon13"></span>
                <span class="icon14"></span>
                <span class="icon15"></span>
                <span class="icon16"></span>
            </p>
        </div>
    </div>
</div>
<div class="info bg-f2f2f2">
    <div class="grid-1200 pt-35">
        <div class="title">
            <h1>
                <span>农业大<i>数据</i></span>
            </h1>
            <h2>
                <span>Agricultural big data</span>
            </h2>
        </div>
    </div>
    <div class="info-content grid-1200">
        <div class="info-content-left">
            <img src="./images/bd/bd2.png" alt="" />
        </div>
        <div class="info-content-right">
            <h2>大数据介绍</h2>
            <p>农业大数据实时监测与预警平台， 跨部门农业大数据采集与聚合平台，具有规模巨大、类型多样、价值密度低、处理速度快、精确度高和复杂度高等特征。通过农业物联网全程智能控制，实现农业生产环境的智能感知、智能预警、智能决策、智能分析、专家在线指导，为农业生产提供精准化种植、生产加工流通管理与决策分析</p>
        </div>
    </div>
</div>
<div>
    <div class="grid-1200 pt-35">
        <div class="title">
            <h1>
                <span>农业大<i>数据展示</i></span>
            </h1>
            <h2>
                <span>Agricultural big data show</span>
            </h2>
        </div>
    </div>
    <div class="grid-1200 pt-35 text-center">
        <img src="./images/bd/bd3.png" alt="" />
    </div>
</div>
<script type="text/javascript">
    $(function(){
        $(document).on('scroll',function (){
            var docTop = $(this).scrollTop();
            var bdTop = $('.big-data').offset().top;
            if(docTop >= bdTop){
                $('.bd-content').addClass('transition');
            }
        });
    });
</script>
<%- include('footer') -%>