<%- include('header') -%>
<div class="ftr-banner">
    <div class="grid-1200"></div>
</div>
<div class="find-true-roots">
    <!-- 鼠标放上去后有box-shadow -->
    <div class="grid-1200 pt-35">
        <a href="http://v3h.find360.cn/" target="_blank">
            <div class="title">
                <h1>
                    <span>寻真<i>溯源</i></span>
                </h1>
                <h2>
                    <span>Find true roots</span>
                </h2>
                <p>广东省科技计划专题项目--移动互联智慧农业物联网课题的科研成果，360度无缝集成农产品全程供应链安全信息，第三方权威农产品追溯平台。</p>
            </div>
        </a>
        <div class="ftr-content">
            <div class="ftr-box">
                <!-- <div class="ftr-test"></div> -->
                <ul class="ftr-circle">
                    <li class="ftr-block block0"></li>
                    <li class="ftr-block block1">
                        <div class="ftr-ball"></div>
                        <dl class="ftr-item item1">
                            <dt>果蔬加工管理</dt>
                            <dd>
                                <p>果蔬加工批次管理</p>
                                <p>果蔬产品溯源管理</p>
                            </dd>
                            <dd>果蔬加工</dd>
                        </dl>
                    </li>
                    <li class="ftr-block block2">
                        <div class="ftr-ball"></div>
                        <dl class="ftr-item item1">
                            <dt>果蔬采收管理</dt>
                            <dd>
                                <p>采收批次管理</p>
                                <p>采收检测管理</p>
                            </dd>
                            <dd>采收</dd>
                        </dl>
                    </li>
                    <li class="ftr-block block3">
                        <div class="ftr-ball"></div>
                        <dl class="ftr-item item1">
                            <dt>种植管理</dt>
                            <dd>
                                <p>基础信息管理</p>
                                <p>种植批次管理</p>
                            </dd>
                            <dd>种植</dd>
                        </dl>
                    </li>
                    <li class="ftr-block block4">
                        <div class="ftr-ball"></div>
                        <dl class="ftr-item item1">
                            <dt>销售管理</dt>
                            <dd>
                                <p>销售基础管理</p>
                                <p>销售入库管理</p>
                            </dd>
                            <dd>销售</dd>
                        </dl>
                    </li>
                    <li class="ftr-block block5">
                        <div class="ftr-ball"></div>
                        <dl class="ftr-item item2">
                            <dt>养殖管理</dt>
                            <dd>种植管理</dd>
                            <dd>
                                <p>种植管理</p>
                                <p>种植管理</p>
                            </dd>
                        </dl>
                    </li>
                    <li class="ftr-block block6">
                        <div class="ftr-ball"></div>
                        <dl class="ftr-item item2">
                            <dt>屠宰加工管理</dt>
                            <dd>种植管理</dd>
                            <dd>
                                <p>种植管理</p>
                                <p>种植管理</p>
                            </dd>
                        </dl>
                    </li>
                    <li class="ftr-block block7">
                        <div class="ftr-ball"></div>
                        <dl class="ftr-item item2">
                            <dt>物流管理</dt>
                            <dd>种植管理</dd>
                            <dd>
                                <p>种植管理</p>
                                <p>种植管理</p>
                            </dd>
                        </dl>
                    </li>
                </ul>
                <div class="ftr-computer"></div>
            </div>
        </div>
    </div>
</div>
<div class="info bg-f2f2f2">
    <div class="grid-1200 pt-35">
        <div class="title">
            <h1>
                <span>寻真溯源<i>介绍</i></span>
            </h1>
            <h2>
                <span>Search for truth</span>
            </h2>
        </div>
    </div>
    <div class="info-content grid-1200">
        <div class="info-content-left">
            <img src="./images/ftr/ftr2.png" alt="" />
        </div>
        <div class="info-content-right">
            <h2>溯源系统介绍</h2>
            <p>寻真溯源平台是广东省科技计划重大专项---移动互联智慧农业物联网课题的科研成果，依托华南农业大学的雄厚科 伙伴一目了然的获得农产品的真实准确的各个环节信息。我们的目的是构建一个安全、开放、权威、可行度高的农产品溯源平台，能为广大消费者护航农产品质量安全尽一份力量是我们永恒的追求。</p>
        </div>
    </div>
</div>
<div>
    <div class="grid-1200 pt-35">
        <div class="title">
            <h1>
                <span>溯源<i>结构</i></span>
            </h1>
            <h2>
                <span>Traceability structure</span>
            </h2>
        </div>
    </div>
    <div class="grid-1200 pt-35 pb-35 text-center">
        <img src="./images/ftr/ftr4.png" alt="" />
    </div>
</div>
<div class="bg-f2f2f2">
    <div class="grid-1200 pt-35">
        <div class="title">
            <h1>
                <span>溯源<i>流程</i></span>
            </h1>
            <h2>
                <span>Traceability process</span>
            </h2>
        </div>
    </div>
    <div class="grid-1200 pt-35 pb-35 text-center">
        <img src="./images/ftr/ftr5.png" alt="" />
    </div>
</div>
<div class="blank bg-white"></div>
<script type="text/javascript">
    $(function(){
        $(document).on('scroll',function (){
            var docTop = $(this).scrollTop();
            var ftrTop = $('.find-true-roots').offset().top;
            if(docTop >= ftrTop){
                $('.ftr-content').addClass('transition');
            }
        });
    });
</script>
<%- include('footer') -%>