<div class="footer">
		<div class="friend-link">
			<div class="grid-1200">
				<dl>
					<dt>合作公司</dt>
					<dd>深圳十方通信息技术股份有限公司</dd>
					<dd>重庆市海普软件产业有限公司</dd>
					<dd>广州云宏信息科技有限公司</dd>
					<dd>青岛浩海网络科技股份有限公司</dd>
					<dd>广东十记果业有限公司</dd>
					<dd>广州市汶鑫自控工程有限公司</dd>
					<dd>海康威视数字技术股份有限公司</dd>
				</dl>
				<dl>
					<dt>联系我们</dt>
					<dd>电话: 020-86471420</dd>
					<dd>传真: 020-86471420</dd>
					<dd>邮箱: service@gzlgit.com</dd>
					<dd>邮编: 510642</dd>
					<dd>地址: 广州市天河区五山华南理工大学</dd>
					<dd>国家科技园（北区）2号楼204</dd>
				</dl>
				<div class="qrcode">
					<img src="./images/qrcode.png" alt="" />
					<span>官方微信扫一扫</span>
				</div>
			</div>
		</div>
		<div class="copy">
			<div class="grid-1200">
				<p>Copyright&copy;2017广东省科技计划重大专项科研成果 版权所有粤ICP备16082048号-2</p>
			</div>
		</div>
	</div>
</body>
</html>