<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>移动互联智慧农业物联网关键技术及应用-<%= navLists.find(navItem => navItem.url === nav).name %></title>
	<link rel="stylesheet" href="css/style.css">
	<script src="./js/jquery-3.1.1.min.js"></script>
</head>
<body>
<%- include('nav') -%>